@keyframes z-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

.z-loading {
  --duration: 1.4s;
  --offset: 180;
  animation: z-rotate var(--duration) linear infinite;
}

@keyframes z-dash {
  0% {
    stroke-dashoffset: var(--offset);
  }
  50% {
    stroke-dashoffset: var(--offset) / 3;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: var(--offset);
    transform: rotate(450deg);
  }
}

.z-loading-path {
  stroke-dasharray: var(--offset);
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: z-dash var(--duration) ease-in-out infinite;
}
