.z-btn {
  --z-text-normal: #353535;
  --z-text-not-normal: #ffffff;
  --z-bg-normal: #f0f0f0;
}

.dark .z-btn {
  --z-text-normal: #f0f0f0;
  --z-bg-normal: #353535;
}

.z-btn.z-color-reverse {
  --z-bg-normal: #353535;
}

.dark .z-btn.z-color-reverse {
  --z-bg-normal: #f0f0f0;
}
